.about-container {
    padding: 80px;
    background-color: #002244; 
}
.about-container .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.about-title h1 {
    font-size: 4rem;
    color: #f8f9fa; 
    font-weight: bold;
    text-align: left;
}
.about-card {
    background-color: #0E3386; 
    padding: 20px;
}
.about-card p {
    font-size: 1.8rem; 
    line-height: 1.8;
    color: #ffffff; 
}